*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input{
    text-align: center;
}

input[type="text"]{
    height: 30px;
    width: 400px;
    background-color: rgb(243, 243, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    margin: 100px 0;
    padding: 10px;
}

input[type="submit"]{
    height: 30px;
    width: 100px;
    background-color: rgb(243, 243, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    margin: 100px 0;
}

.display{
    text-align: center;
}

.collapsible{
    background-color: cadetblue;
    color: cornflowerblue;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    outline: none;
    font-size: 23px;
}

.active, .collapsible:hover{
    background-color:burlywood;
}

.content {
    padding: 0 20px;
    display: none;
    overflow: hidden;
    background-color: #c7c7c7;
}